<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2023 Deeplife Course </a></p>
              <p>Inspired by a template of the <a href="https://www.allanlab.org">Allan Lab</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding:<br />
      
		</div>
		<div class="col-sm-4">
		  Contact:  <br />
		  Carl Herrmann <br />
		  IPMB - 5th floor - Im Neuenheimer Feld 364 <br />
		  69120 Heidelberg (Germany) <br />
		  carl.herrmann@uni-heidelberg.de<br />
		  <br />
		  
		  
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
