<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>


  <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/" style="padding-top:   0;">
  <img src="{{ site.url }}{{ site.baseurl }}/images/DL_logo_header.png" alt="logo"    style="width: auto; height: 35px;" /> 
  </a>
    
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/program">Lectures</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/projects">Projects</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/meeting">Hackathon</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/it">IT instructions</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
	  </ul>
	</div>
  </div>
</div>
