<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-f7xd{background-color:#CECECE;border-color:inherit;color:#333;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-kr4b{background-color:#FFF;border-color:inherit;color:#333;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-acii{background-color:#FFF;border-color:inherit;color:#333;text-align:left;vertical-align:top}
.tg .tg-prhl{background-color:#FFF;border-color:inherit;color:#1f2328;text-align:left;text-decoration:underline;vertical-align:top}
.tg .tg-07pr{background-color:#FFF;border-color:inherit;color:#1F2328;text-align:left;vertical-align:top}
.tg .tg-e4b2{background-color:#FFF;border-color:inherit;color:#1F1F1F;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 7%">
<col style="width: 20%">
<col style="width: 20%">
<col style="width: 13%">
</colgroup>
<thead>
  <tr>
    <th class="tg-f7xd"><span style="font-weight:bold">Date</span></th>
    <th class="tg-f7xd"><span style="font-weight:bold">Title</span></th>
    <th class="tg-f7xd"><span style="font-weight:bold">Speaker</span></th>
    <th class="tg-f7xd"><span style="font-weight:bold">Links</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Intro Lecture 1</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Intro and Mathematical foundation to DL</span></td>
    <td class="tg-e4b2"><span style="font-weight:normal;color:#1F1F1F">Bartek Wilczynski (Warsaw)</span></td>
    <td class="tg-acii"><a href="https://github.com/deeplife4eu/Lecture-materials/tree/main/Week_01">Lecture materials</a>, <a href="https://colab.research.google.com/github/deeplife4eu/Lecture-materials/blob/main/">Practical session </a>, <a href="https://www.dropbox.com/scl/fi/kffjjhacx24wgka3br4fv/GMT20240226-155132_Recording_1920x1080.mp4?rlkey=odonsv8kfzpdukl1dzfleh0sz&dl=0">Video recording (26.03)</a>
</td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Intro Lecture 2</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Convolutional and Recurrent neural networks</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Marco Frasca (Milano)</span></td>
    <td class="tg-acii"> <a href="https://github.com/deeplife4eu/Lecture-materials/tree/main/Week_02">Lecture materials</a>, <a href="https://colab.research.google.com/github/deeplife4eu/Lecture-materials/blob/main/">Practical session </a>,<a href='https://www.dropbox.com/s/wh1280a2y1bj99b/GMT20240304-155823_Recording_1976x1366.mp4?dl=0'>Video recording (4.03)</a></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Intro Lecture 3</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Autoencoders and variational autoencoders</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Carl Herrmann (Heidelberg)</span></td>
    <td class="tg-acii"><a href="https://github.com/deeplife4eu/Lecture-materials/tree/main/Week_03">Lecture materials</a>, <a href="https://colab.research.google.com/github/deeplife4eu/Lecture-materials/blob/main/">Practical session </a>, <a href="https://www.dropbox.com/s/t58b8uwx8gunc8p/GMT20240311-155841_Recording_1920x1080.mp4?dl=0">Video recording</a></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Intro Lecture 4</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Attention mechanisms and transformers</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Dario Malchiodi (Milano)</span></td>
    <td class="tg-acii"><a href="https://github.com/deeplife4eu/Lecture-materials/tree/main/Week_04">Lecture materials</a>, <a href="https://colab.research.google.com/github/deeplife4eu/Lecture-materials/blob/main/">Practical session </a>, <a href="https://www.dropbox.com/s/xl1unhdyhyn8rzs/GMT20240318-155742_Recording_1920x1080.mp4?dl=0">Video recording</a></td>
  </tr>
  </tbody>
</table>
