<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-f7xd{background-color:#CECECE;border-color:inherit;color:#333;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-kr4b{background-color:#FFF;border-color:inherit;color:#333;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-acii{background-color:#FFF;border-color:inherit;color:#333;text-align:left;vertical-align:top}
.tg .tg-prhl{background-color:#FFF;border-color:inherit;color:#1f2328;text-align:left;text-decoration:underline;vertical-align:top}
.tg .tg-07pr{background-color:#FFF;border-color:inherit;color:#1F2328;text-align:left;vertical-align:top}
.tg .tg-e4b2{background-color:#FFF;border-color:inherit;color:#1F1F1F;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 7%">
<col style="width: 20%">
<col style="width: 20%">
<col style="width: 40%">
<col style="width: 13%">
</colgroup>
<thead>
  <tr>
    <th class="tg-f7xd"><span style="font-weight:bold">Date</span></th>
    <th class="tg-f7xd"><span style="font-weight:bold">Title</span></th>
    <th class="tg-f7xd"><span style="font-weight:bold">Speaker</span></th>
    <th class="tg-f7xd"><span style="font-weight:bold">Content</span></th>
    <th class="tg-f7xd"><span style="font-weight:bold">Links</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Week 1 - 24.02</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Models for multimodal data integration</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Britta Velten (Heidelberg)</span></td>
    <td class="tg-acii"></td>
    <td class="tg-acii"></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Week 2 - 3.03</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">VAE in single-cell genomics</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Carl Herrmann (Heidelberg)</span></td>
    <td class="tg-acii"></td>
    <td class="tg-acii"></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Week 3 - 10.03</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Deep learning for predicting non-coding DNA activity</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Bartek Wilczynski (Warsaw)</span></td>
    <td class="tg-acii"></td>
    <td class="tg-acii"></td>
  </tr>
  <tr>
    <td class="tg-acii" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Week 4 - 17.03</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">AlphaFold, EMSFold to predict structure of proteins</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Joanna Sulkowska (Warsaw)</span></td>
    <td class="tg-acii"></td>
    <td class="tg-acii"></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Week 5 - 24.03</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Diffusion models for protein design</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Elodie Laine (Paris)</span></td>
    <td class="tg-acii"></td>
    <td class="tg-acii"></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Week 6 - 31.03</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Deep Architectures for sampling macromolecules</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Grégoire Sergeant-Perthuis (Paris)</span></td>
    <td class="tg-acii"></td>
    <td class="tg-acii"></td>
  </tr>
  <tr>
    <td class="tg-acii" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Week 7 - 7.04</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Intro to BioImage Analysis and Deep Learning Utilization</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Martin Schatz (Prague)</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF"></td>
    <td class="tg-acii"></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Week 8 - 14.04</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF;font-weight:bold">Deep learning for image segmentation</span></td>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">Karl Rohr (Heidelberg)</span></td>
    <td class="tg-acii"></td>
    <td class="tg-acii"></td>
  </tr>
  <tr>
    <td class="tg-acii" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg-acii"><span style="color:#333;background-color:#FFF">14.04 - 31.05</span></td>
    <td class="tg-acii" colspan="4"><span style="color:#333;background-color:#FFF;font-weight:bold"><b>Project phase</b></span></td>
  </tr>
  <tr>
    <td class="tg-acii" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg-kr4b"><span style="font-weight:bold">30.05-1.06</span></td>
    <td class="tg-kr4b"><span style="font-weight:bold">Final meeting Heidelberg</span></td>
    <td class="tg-acii"></td>
    <td class="tg-0pky"><span style="color:#333;background-color:#FFF">The course will end with a 2-day workshop and hackathon meeting in Heidelberg during which students will be able to implement a short project and listen to scientific lectures.
</td>
    <td class="tg-0pky"></td>
  </tr>
</tbody>
</table>
